
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>统计</small></div>
    </div>
    <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br />今日订单<br />2300</a></li>
        <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br />总订单<br />308</a></li>
        <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br />今日销售额<br />80082</a></li>
        <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br />销售总额<br />3000</a></li>
    </ul>
    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-bd am-table-striped admin-content-table">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>房号</th>
                        <th>订单内容</th>
                        <th>订单时间</th>
                        <th>送餐时间</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈莹</td>
                        <td>303</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>罗莹莹</td>
                        <td>301</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈梓欣</td>
                        <td>302</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span>2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>陈颖欣</td>
                        <td>304</td>
                        <td><a href="#">纯牛奶一杯</a></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 11:11</span></td>
                        <td><span class="am-badge am-badge-success">2016-11-11 13:11</span></td>
                        <td>
                            要温热的
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>风清扬</td>
                        <td><a href="#">公司LOGO设计</a> </td>
                        <td><span class="am-badge am-badge-danger">+2</span></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">1. 编辑</a></li>
                                    <li><a href="#">2. 下载</a></li>
                                    <li><a href="#">3. 删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>詹姆斯</td>
                        <td><a href="#">开发一款业务数据软件</a></td>
                        <td><span class="am-badge am-badge-warning">+10</span></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">1. 编辑</a></li>
                                    <li><a href="#">2. 下载</a></li>
                                    <li><a href="#">3. 删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>云适配</td>
                        <td><a href="#">适配所有网站</a></td>
                        <td><span class="am-badge am-badge-secondary">+50</span></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">1. 编辑</a></li>
                                    <li><a href="#">2. 下载</a></li>
                                    <li><a href="#">3. 删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>呵呵呵</td>
                        <td><a href="#">基兰会获得BUFF</a></td>
                        <td><span class="am-badge">+22</span></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">1. 编辑</a></li>
                                    <li><a href="#">2. 下载</a></li>
                                    <li><a href="#">3. 删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

