<!DOCTYPE html>

<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>酒店订餐系统后台管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="~/Content/Images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/Images/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="~/Content/Css/amazeui.min.css" />
    <link rel="stylesheet" href="~/Content/Css/admin.css">
</head>
<body>
    <!--[if lte IE 9]>
    <p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
      以获得更好的体验！</p>
    <![endif]-->
    <header class="am-topbar admin-header">
        <div class="am-topbar-brand">
            <strong>酒店订餐系统</strong> <small>后台管理</small>
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 新订单 <span class="am-badge am-badge-warning">5</span></a></li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                        <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
            </ul>
        </div>
    </header>
    <div class="am-cf admin-main">
        <!-- sidebar start -->
        <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
            <div class="am-offcanvas-bar admin-offcanvas-bar">
                <ul class="am-list admin-sidebar-list">
                    <li><a href="admin-index.html"><span class="am-icon-home"></span> 首页</a></li>
                    <li>
                        <a class="am-cf" data-am-collapse="{target: '#category-nav'}"><span class="am-icon-table"></span> 分类管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="category-nav">
                            <li><a href="admin-user.html" class="am-cf"><span class="am-icon-modx"></span> 所有分类</a></li>
                            <li><a href="admin-help.html"><span class="am-icon-circle"></span> 添加分类</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="am-cf" data-am-collapse="{target: '#product-nav'}"><span class="am-icon-pencil-square-o"></span> 菜品管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="product-nav">
                            <li><a href="admin-user.html" class="am-cf"><span class="am-icon-modx"></span> 所有菜品</a></li>
                            <li><a href="admin-help.html"><span class="am-icon-circle"></span> 添加菜品</a></li>
                        </ul>
                    </li>
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 订单管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                            <li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 今日订单<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                            <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 全部订单</a></li>
                            <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 订单分析<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
                            <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 销售统计</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
                </ul>
                <div class="am-panel am-panel-default admin-sidebar-panel">
                    <div class="am-panel-bd">
                        <p><span class="am-icon-bookmark"></span> 公告</p>
                        <p>在一些人面前，我永远都会是最初的我，无论未来怎样。—— Caty</p>
                    </div>
                </div>
                <div class="am-panel am-panel-default admin-sidebar-panel">
                    <div class="am-panel-bd">
                        <p><span class="am-icon-tag"></span> 欢迎页</p>
                        <p>欢迎使用猫之奶茶店后台管理</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar end -->
        <!-- content start -->
        @RenderBody()
        <!-- content end -->
    </div>
    <a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
        <span class="am-icon-btn am-icon-th-list"></span>
    </a>
    <footer>
        <hr>
        <p class="am-padding-left">© 2016 Caty.</p>
    </footer>
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <!--<![endif]-->
    <script src="~/Scripts/amazeui.min.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>
